body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    
}

.background {
    
    width: 70%;
    height: 100vh;
    background-image: url('/root/assets/images/logo Ace.png');
    margin-left: 400px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.side-bar-menu {
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    background: #042331;
}

.side-bar-menu header {
    font-size: 2rem;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.menu ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid black;
    transition: .4s;
}

.menu li:hover a {
    padding-left: 50px;
}

.menu ul a i {
    margin-right: 16px;
}

.dropdown-menu {
    /*display: none;*/
    visibility: hidden;
    opacity: 0;
    position: absolute;
}

.submenu:hover  .dropdown-menu {
    position: relative;
    display: block;
    visibility: visible;
    opacity: 1;
    margin-left: 10px;
    color: white;
    transition: all .4s ease-in;
    
}

.dropdown-menu li:hover a {
    
    margin-left: 5px;
    
}


.dropdown-menu li:hover a i, .dropdown-menu li:hover #quadras, .dropdown-menu li:hover #fornecedor {
    
    filter: invert(0);
    
}

.dropdown-menu li:hover a i{
    
    filter: invert(1);
    
}
li:hover #vendas, li:hover #cadastro, li:hover #dashboard, li:hover #eventos, li:hover #agenda, 
li:hover #dashboard, li:hover #financeiro, li:hover #configuracoes, li:hover #social, li:hover #suporte {
    filter: invert(0);
}


#dashboard {
    list-style-image: url('/root/assets/images/icons8-dashboard-layout-24.png');
    filter: invert(1);
    display: list-item;
    align-self: center;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 5px;
}
#cadastro {
    list-style-image: url('/root/assets/images/cadstro.png');
    filter: invert(1);
    display: list-item;
    align-self: center;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 0;
}

#vendas {
    list-style-image: url('/root/assets/images/vendas.png');
    filter: invert(1);
    display: list-item;
    align-self: center;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 5px;
}
#agenda {
    list-style-image: url('/root/assets/images/calendar.png');
    filter: invert(1);
    display: list-item;
    align-self: center;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 5px;

}

#eventos {
    list-style-image: url('/root/assets/images/eventos.png');
    filter: invert(1);
    display: list-item;
    align-self: center;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 5px;

}

#financeiro {
    list-style-image: url('/root/assets/images/financeiro.png');
    filter: invert(1);
    display: list-item;
    align-self: center;
    margin-top: 15px;
    margin-left: 35px;
    margin-right: 0;

}

#configuracoes {
    list-style-image: url('/root/assets/images/configuracoes.png');
    filter: invert(1);
    display: list-item;
    align-self: center;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 5px;

}

#social {
    list-style-image: url('/root/assets/images/social.png');
    filter: invert(1);
    display: list-item;
    align-self: center;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 5px;

}

#suporte {
    list-style-image: url('/root/assets/images/suporte.png');
    filter: invert(1);
    display: list-item;
    align-self: center;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 5px;

}

#quadras {
    list-style-image: url('/root/assets/images/court.png');
    filter: invert(1);
    display: list-item;
    align-self: center;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 5px;

}

#fornecedor {
    list-style-image: url('/root/assets/images/fornecedor.png');
    filter: invert(1);
    display: list-item;
    align-self: center;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 5px;

}